# Install all package
Run all cell press : `Ctrl+F9` or `Runtime > Run all`

In [ ]:
import pandas as pd

# Section 2.1 แสดงข้อมูลทั้งหมดของการรวมข้อมูล

In [ ]:
Url = "https://github.com/comsciyorwor5/comsci/raw/master/Data1.csv"
Url2 = "https://github.com/comsciyorwor5/comsci/raw/master/Data2.csv"

Data = pd.read_csv(Url)
Data2 = pd.read_csv(Url2)

MergeData = Data.merge(Data2)
print(MergeData)

       ID      Name BloodType  Height  Weight  Class  Number
0   34000      Alan         A     175      71      1       1
1   34001      Anan         B     160      61      1       2
2   34002     Anest         O     162      74      1       3
3   34003     Ajeab        AB     180      62      1       4
4   34004      Apoj         B     155      66      1       5
5   34005      Apae         B     150      70      1       6
6   34006     Achan         O     177      61      1       7
7   34007     Aying         A     174      79      1       8
8   34008     Akung         A     179      70      1       9
9   34009    Akrung         O     154      67      1      10
10  34010      Aart        AB     176      66      1      11
11  34011      Arit         O     156      68      2       1
12  34012     Atong         O     180      76      2       2
13  34013      Abew         B     173      78      2       3
14  34014    Aprach         A     165      70      2       4
15  34015      Ajew         A     167      78      2       5
16  34016      Agig         O     169      69      2       6
17  34017      Ajom         B     171      74      2       7
18  34018     Alice         O     173      64      2       8
19  34019     Adale         A     150      78      3       1
20  34020      Amay         A     150      72      3       2
21  34021      Apec         B     173      77      3       3
22  34022      Ator         B     157      65      3       4
23  34023      Ajim         B     179      78      3       5
24  34024    Anelka        AB     175      62      3       6
25  34025  Adebayor         A     150      62      3       7
26  34026      Aday         A     158      77      3       8
27  34027   Abandon         B     179      70      3       9
28  34028     Abook         A     159      80      3      10
29  34029  Aberdine         O     169      76      3      11
30  34030    Araiwa         B     176      63      3      12

# Section 2.2 แสดงข้อมูล ชื่อชั้นเรียน ชื่อนักเรียน และหมู่เลือด

In [ ]:
print(MergeData[['Class','Name','BloodType']])

    Class      Name BloodType
0       1      Alan         A
1       1      Anan         B
2       1     Anest         O
3       1     Ajeab        AB
4       1      Apoj         B
5       1      Apae         B
6       1     Achan         O
7       1     Aying         A
8       1     Akung         A
9       1    Akrung         O
10      1      Aart        AB
11      2      Arit         O
12      2     Atong         O
13      2      Abew         B
14      2    Aprach         A
15      2      Ajew         A
16      2      Agig         O
17      2      Ajom         B
18      2     Alice         O
19      3     Adale         A
20      3      Amay         A
21      3      Apec         B
22      3      Ator         B
23      3      Ajim         B
24      3    Anelka        AB
25      3  Adebayor         A
26      3      Aday         A
27      3   Abandon         B
28      3     Abook         A
29      3  Aberdine         O
30      3    Araiwa         B

# Section 2.3 แสดงข้อมูล ชื่อชั้นเรียน ชื่อนักเรียน ความสูง และเลขประจําตัว โดยเรียงลําดับตามความสูง จากมากไปน้อย

In [ ]:
RawData = MergeData[['Class','Name','Height','ID']]
NewData = RawData.sort_values(by=['Height'],ascending=False)

print(NewData)

    Class      Name  Height     ID
3       1     Ajeab     180  34003
12      2     Atong     180  34012
27      3   Abandon     179  34027
23      3      Ajim     179  34023
8       1     Akung     179  34008
6       1     Achan     177  34006
30      3    Araiwa     176  34030
10      1      Aart     176  34010
24      3    Anelka     175  34024
0       1      Alan     175  34000
7       1     Aying     174  34007
13      2      Abew     173  34013
18      2     Alice     173  34018
21      3      Apec     173  34021
17      2      Ajom     171  34017
16      2      Agig     169  34016
29      3  Aberdine     169  34029
15      2      Ajew     167  34015
14      2    Aprach     165  34014
2       1     Anest     162  34002
1       1      Anan     160  34001
28      3     Abook     159  34028
26      3      Aday     158  34026
22      3      Ator     157  34022
11      2      Arit     156  34011
4       1      Apoj     155  34004
9       1    Akrung     154  34009
25      3  Adebayor     150  34025
5       1      Apae     150  34005
19      3     Adale     150  34019
20      3      Amay     150  34020

# Section 2.4 แสดงข้อมูล ชื่อชั้นเรียน เลขที่ ชื่อนักเรียน และ น้ําหนัก เรียงตามชื่อชั้นเรียน จาก น้อยไปมาก

In [ ]:
RawData = MergeData[['Class','Number','Name','Weight']]
NewData = RawData.sort_values(by=['Class'],ascending=True)

print(NewData)

    Class  Number      Name  Weight
0       1       1      Alan      71
1       1       2      Anan      61
2       1       3     Anest      74
3       1       4     Ajeab      62
4       1       5      Apoj      66
5       1       6      Apae      70
6       1       7     Achan      61
7       1       8     Aying      79
8       1       9     Akung      70
9       1      10    Akrung      67
10      1      11      Aart      66
18      2       8     Alice      64
17      2       7      Ajom      74
16      2       6      Agig      69
15      2       5      Ajew      78
13      2       3      Abew      78
12      2       2     Atong      76
11      2       1      Arit      68
14      2       4    Aprach      70
29      3      11  Aberdine      76
19      3       1     Adale      78
20      3       2      Amay      72
21      3       3      Apec      77
22      3       4      Ator      65
23      3       5      Ajim      78
24      3       6    Anelka      62
25      3       7  Adebayor      62
26      3       8      Aday      77
27      3       9   Abandon      70
28      3      10     Abook      80
30      3      12    Araiwa      63

# Section 2.5 แสดงค่าน้ําหนักเฉลี่ยแยกตามหมู่เลือด

In [ ]:
WeightData = MergeData[['Weight','BloodType']]
NewData = WeightData.sort_values(by=['Weight'],ascending=True)

print(NewData.groupby('BloodType').Weight.mean())

BloodType
A     73.700000
AB    63.333333
B     70.200000
O     69.375000
Name: Weight, dtype: float64

# Section 2.6 แสดงจํานวนข้อมูลทั้งหมด

In [ ]:
print(MergeData.count())

ID           31
Name         31
BloodType    31
Height       31
Weight       31
Class        31
Number       31
dtype: int64

# Section 2.7 แสดงค่าความสูงของคนที่สูงที่สุดในแต่ละ ชั้นเรียน

In [ ]:
HeightData = MergeData[['Height','Class']]
NewData = HeightData.sort_values(by=['Height'],ascending=False)

print(NewData.groupby('Class').Height.max())

Class
1    180
2    180
3    179
Name: Height, dtype: int64

# Section 2.8 แสดงชื่อนักเรียนและน้ําหนักนักเรียนที่มีน้ําหนักตั้งแต่ 60 กิโลกรัมขึ้นไป

In [ ]:
NameData = MergeData[['Name','Weight']]
NewData = NameData.sort_values(by=['Weight'],ascending=True)

print(NewData[NewData.Weight>=60])

        Name  Weight
1       Anan      61
6      Achan      61
3      Ajeab      62
24    Anelka      62
25  Adebayor      62
30    Araiwa      63
18     Alice      64
22      Ator      65
4       Apoj      66
10      Aart      66
9     Akrung      67
11      Arit      68
16      Agig      69
27   Abandon      70
14    Aprach      70
5       Apae      70
8      Akung      70
0       Alan      71
20      Amay      72
2      Anest      74
17      Ajom      74
29  Aberdine      76
12     Atong      76
21      Apec      77
26      Aday      77
19     Adale      78
13      Abew      78
23      Ajim      78
15      Ajew      78
7      Aying      79
28     Abook      80

#>> Original : 18_10_สิรภพ สุขชู (52647@hatyaiwit.ac.th) <<